.html, body{
	margin:0;
	padding:0;
	width: 100%;
	
	background-color: #000;	
}

header{
	position:relative;
	
	width:100%;
	height:200px;
	margin: 0;
	padding: 0;	
}

footer{
	position: relative;
	
	width:100%;
	height:200px;
	margin: 0;
	padding: 0;
	bottom: 0;
}

	
nav{
	
	float:left;
	
	width: 100%;
	height: 50px;
	
}

ul{
	
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	font-family: cursive;
	font-weight: bold;
	color: #06e6b2;
	
	float: left;
	width: 16.6%;
	display: block;
	line-height: 50px;
	text-align: center; 
}

a{
	display: block;
	background-color:  #06e6b2;
	
}

h1{
	text-align: center;
	font-size: 40px;
	color: #800080;
}

.booknow{
	
	
	width: 12%;
	height: 12%;

	top: 40%;
	float: right;
	
	border-radius: 70px;
	border-style: solid;
    border-width: 5px;
	border-color: #000;

}

.home{
	font-family: cursive;
	font-size: 15px;
	color: #800080;
	width: 500px;
	
	margin-left: 5%;
	
}	

.hp{
	font-family: cursive;
	font-size: 15px;
	color: #800080;;
	width: 250px;
		
}

.hp2{
	font-family: cursive;
	font-size: 15px;
	color: #800080;;
	width: 250px;
}

.center-section {
	
	width:70%;
	max-width: 980px;
	margin:0 auto;
	background-color: #f8e2ff;
}

.threepics{
	border-style: solid;
    border-width: 5px;
	border-color: #000;
	
	
	position: relative;
	left: 23%;
	bottom: 50%;
}
	
.home1{
	position: relative;
	border-style: solid;
    border-width: 5px;
	border-color: #000;
}

li a{
	color: #000;
}

.imggal {
    margin: 5px;
    padding: 5px;
    border: 5px solid #000;
    height: auto;
    width: auto;
    float: left;
}

.vid1{
	position: relative;
	left: 30%;
	
}

form{
	font-family: cursive;
	color: #800080;
	position: absolute;
	right: 25%;
	top: 27%;
}

.homepic1{
	width: 20%;
	height: 20%;
	position: absolute;
	top: 45%;
	right: 35%;
	

	border-style: solid;
    border-width: 5px;
	border-color: #000;
	
}

.homepic2{
	width: 10%;
	height: 15%;
	position: absolute;
	bottom: 10%;
	right: 40%;
	
	
	border-style: solid;
    border-width: 5px;
	border-color: #000;
	
}

table, th, td {
	
	
    border: 2px solid #CC99CC;
	font-family: cursive;
	font-size: 15px;
	text-align: center;
}

.giftcert{

	width: 30%;
	height: 25%;

}

.form2{
	
	font-family: cursive;
	color: #800080;
	
	position: relative;
	left: 23%;
	bottom: 50%;	
}

.grid-2-4
{
	height: 300px;
}

.massp{
	font-family: cursive;
	color: #800080; 
	font-size: 14px;
}

.preg{
	
	width: 50%;
	height: 50%;
	border-style: solid;
    border-width: 4px;
	border-color: #000;
}

.hots{
	width: 50%;
	height: 50%;
	border-style: solid;
    border-width: 4px;
	border-color: #000;
}

.thera{
	width: 50%;
	height: 50%;
	border-style: solid;
    border-width: 4px;
	border-color: #000;
}

.relax{
	width: 50%;
	height: 50%;
	border-style: solid;
    border-width: 4px;
	border-color: #000;
	
}

@media screen and (min-width: 0) and (max-width: 414px){
.booknow {
	
	width: 12%;
	height: 12%;

	top: 40%;
	float: right;
	
	border-radius: 70px;
	border-style: solid;
    border-width: 5px;
	border-color: #000;

}
ul{
	
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	font-family: cursive;
	font-weight: bold;
	color: #06e6b2;
	float: left;
	width: 16.6%;
	display: block;
	line-height: 50px;
	text-align: center; 
}
a{
	display: block;
	background-color:  #06e6b2;
	
}	
	form{ 
	font-family: cursive;
	color: #800080;
	position: absolute;
	right: 40%;
	top: 20%;
}
	
}
@media screen and (min-width: 1025px) {
	.booknow {
	
	width: 12%;
	height: 12%;

	top: 40%;
	float: right;
	
	border-radius: 70px;
	border-style: solid;
    border-width: 5px;
	border-color: #000;

}
ul{
	
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	font-family: cursive;
	font-weight: bold;
	color: #06e6b2;
	float: left;
	width: 16.6%;
	display: block;
	line-height: 50px;
	text-align: center; 
}
a{
	display: block;
	background-color:  #06e6b2;
	
	
}

